.mediaViewInfo {
	--web-view-name: Portfolio;
	--web-view-id: Portfolio;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

:root {
	--web-view-ids: Portfolio;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

#Portfolio {
	position: absolute;
	width: 1920px;
	height: 6224px;
	background-color: rgba(255, 255, 255, 1);
	overflow: hidden;
	--web-view-name: Portfolio;
	--web-view-id: Portfolio;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

#Rectangle_3 {
	fill: rgba(49, 49, 49, 1);
}

.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 923px;
	left: 0px;
	top: 1080px;
}

#Rectangle_12 {
	fill: rgba(49, 49, 49, 1);
}

.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1629px;
	left: 0px;
	top: 3188px;
}

#Rectangle_2 {
	fill: rgba(0, 0, 0, 1);
}

.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}

#Component_4__1 {
	position: absolute;
	width: 744px;
	height: 879px;
	left: 0px;
	top: 201px;
	overflow: visible;
}

#Mask_Group_1 {
	position: absolute;
	width: 744px;
	height: 879px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Hello {
	left: 960px;
	top: 460px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255, 255, 255, 1);
}

#A_young_and_active_man_that_ex {
	left: 257px;
	top: 1398px;
	position: absolute;
	overflow: visible;
	width: 610px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255, 255, 255, 1);
}

#Component_3__1 {
	position: absolute;
	width: 652px;
	height: 83px;
	left: 960px;
	top: 523px;
	overflow: visible;
}

#Im_Mufti_Ramdhani {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 653px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(255, 197, 101, 1);
}

#Rectangle_6 {
	fill: transparent;
	stroke: rgba(255, 197, 101, 1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 660px;
	height: 466px;
	left: 1109px;
	top: 1364px;
}

#Freelance_mobile_and_web_Desig {
	opacity: 0.9;
	left: 960px;
	top: 626px;
	position: absolute;
	overflow: visible;
	width: 854px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255, 255, 255, 1);
}

#About_Me {
	opacity: 0.9;
	left: 257px;
	top: 1287px;
	position: absolute;
	overflow: visible;
	width: 232px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255, 255, 255, 1);
}

#Component_2__1 {
	position: absolute;
	width: 660px;
	height: 508px;
	left: 1153px;
	top: 1287px;
	overflow: visible;
}

#Mask_Group_2 {
	position: absolute;
	width: 660px;
	height: 508px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Rectangle_5 {
	fill: rgba(0, 0, 0, 1);
}

.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1220px;
	left: 0px;
	top: 1969px;
}

#Rectangle_16 {
	fill: rgba(0, 0, 0, 1);
}

.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1250px;
	left: 0px;
	top: 4788px;
}

#Rectangle_7 {
	fill: rgba(255, 197, 101, 1);
}

.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 144px;
	height: 5px;
	left: 257px;
	top: 1355px;
}

#Mask_Group_4 {
	position: absolute;
	width: 596px;
	height: 367px;
	left: 355px;
	top: 2247px;
	overflow: visible;
}

#Service {
	opacity: 0.9;
	left: 355px;
	top: 2050px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255, 255, 255, 1);
}

#Latest_Work {
	opacity: 0.9;
	left: 212px;
	top: 3292px;
	position: absolute;
	overflow: visible;
	width: 287px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255, 255, 255, 1);
}

#Experiences {
	opacity: 0.9;
	left: 382px;
	top: 4877px;
	position: absolute;
	overflow: visible;
	width: 294px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255, 255, 255, 1);
}

#Rectangle_10 {
	fill: rgba(255, 197, 101, 1);
}

.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 5px;
	left: 355px;
	top: 2118px;
}

#Rectangle_13 {
	fill: rgba(255, 197, 101, 1);
}

.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 143px;
	height: 5px;
	left: 212px;
	top: 3360px;
}

#Rectangle_17 {
	fill: rgba(255, 197, 101, 1);
}

.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 5px;
	left: 382px;
	top: 4945px;
}

#Rectangle_8 {
	fill: rgba(255, 197, 101, 1);
}

.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 167px;
	height: 59px;
	left: 257px;
	top: 1719px;
}

#Rectangle_9 {
	fill: transparent;
	stroke: rgba(255, 197, 101, 1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 212px;
	height: 59px;
	left: 444px;
	top: 1719px;
}

#HIRE_ME {
	opacity: 0.6;
	left: 299px;
	top: 1737px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0, 0, 0, 1);
}

#DOWNLOAD_CV {
	opacity: 0.6;
	left: 475px;
	top: 1737px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255, 197, 101, 1);
}

#Component_5__1 {
	position: absolute;
	width: 596px;
	height: 367px;
	left: 355px;
	top: 2247px;
	overflow: visible;
}

#Rectangle_11_ba {
	opacity: 0.704;
	fill: url(#Rectangle_11_ba);
	stroke: rgba(112, 112, 112, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.Rectangle_11_ba {
	position: absolute;
	overflow: visible;
	width: 596px;
	height: 367px;
	left: 0px;
	top: 0px;
}

#Mask_Group_5 {
	position: absolute;
	width: 596px;
	height: 367px;
	left: 970px;
	top: 2247px;
	overflow: visible;
}

#Mask_Group_6 {
	position: absolute;
	width: 596px;
	height: 367px;
	left: 355px;
	top: 2633px;
	overflow: visible;
}

#Mask_Group_7 {
	position: absolute;
	width: 596px;
	height: 367px;
	left: 970px;
	top: 2633px;
	overflow: visible;
}

#Component_6__1 {
	position: absolute;
	width: 596px;
	height: 367px;
	left: 970px;
	top: 2247px;
	overflow: visible;
}

#Rectangle_11_bg {
	opacity: 0.7;
	fill: url(#Rectangle_11_bg);
	stroke: rgba(112, 112, 112, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.Rectangle_11_bg {
	position: absolute;
	overflow: visible;
	width: 596px;
	height: 367px;
	left: 0px;
	top: 0px;
}

#Component_8__1 {
	position: absolute;
	width: 596px;
	height: 367px;
	left: 355px;
	top: 2633px;
	overflow: visible;
}

#Rectangle_11_bj {
	opacity: 0.7;
	fill: url(#Rectangle_11_bj);
	stroke: rgba(112, 112, 112, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.Rectangle_11_bj {
	position: absolute;
	overflow: visible;
	width: 596px;
	height: 367px;
	left: 0px;
	top: 0px;
}

#Component_7__1 {
	position: absolute;
	width: 596px;
	height: 367px;
	left: 970px;
	top: 2633px;
	overflow: visible;
}

#Rectangle_11_bm {
	opacity: 0.7;
	fill: url(#Rectangle_11_bm);
	stroke: rgba(112, 112, 112, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.Rectangle_11_bm {
	position: absolute;
	overflow: visible;
	width: 596px;
	height: 367px;
	left: 0px;
	top: 0px;
}

#UX_Research {
	opacity: 0.9;
	left: 444px;
	top: 2406px;
	position: absolute;
	overflow: visible;
	width: 311px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255, 255, 255, 1);
}

#App__Web_Design {
	opacity: 0.9;
	left: 444px;
	top: 2803px;
	position: absolute;
	overflow: visible;
	width: 442px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255, 255, 255, 1);
}

#Web_Development {
	opacity: 0.9;
	left: 1044px;
	top: 2406px;
	position: absolute;
	overflow: visible;
	width: 434px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255, 255, 255, 1);
}

#App_Development {
	opacity: 0.9;
	left: 1044px;
	top: 2803px;
	position: absolute;
	overflow: visible;
	width: 426px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255, 255, 255, 1);
}

#WhatsApp_Image_2020-01-03_at_2 {
	position: absolute;
	width: 475px;
	height: 352px;
	left: 212px;
	top: 3532px;
	overflow: visible;
}

#photo_2020-03-07_13-27-10_1 {
	position: absolute;
	width: 475px;
	height: 352px;
	left: 722px;
	top: 3532px;
	overflow: visible;
}

#IMG20200109203641-01_1 {
	position: absolute;
	width: 475px;
	height: 352px;
	left: 1233px;
	top: 3532px;
	overflow: visible;
}

#IMG_20191027_165741_1 {
	position: absolute;
	width: 475px;
	height: 352px;
	left: 212px;
	top: 3919px;
	overflow: visible;
}

#IMG_20190519_111816_1 {
	position: absolute;
	width: 475px;
	height: 352px;
	left: 722px;
	top: 3919px;
	overflow: visible;
}

#IMG_20191027_165741_1_bw {
	position: absolute;
	width: 475px;
	height: 352px;
	left: 1233px;
	top: 3919px;
	overflow: visible;
}

#sulthanalihsan_89715388_214523 {
	position: absolute;
	width: 475px;
	height: 352px;
	left: 212px;
	top: 4306px;
	overflow: visible;
}

#Screenshot_37_1 {
	position: absolute;
	width: 475px;
	height: 352px;
	left: 722px;
	top: 4306px;
	overflow: visible;
}

#edisunardi19_91371860_15143261 {
	position: absolute;
	width: 475px;
	height: 352px;
	left: 1233px;
	top: 4306px;
	overflow: visible;
}

#ID20200411_135925_1 {
	opacity: 0.6;
	position: absolute;
	width: 963.324px;
	height: 1250px;
	left: 957px;
	top: 4788px;
	overflow: visible;
}

#Rectangle_18 {
	fill: rgba(255, 182, 62, 1);
	stroke: rgba(255, 182, 62, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 394px;
	height: 353px;
	left: 382px;
	top: 5060px;
}

#Rectangle_21 {
	fill: rgba(255, 182, 62, 1);
	stroke: rgba(255, 182, 62, 1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 353px;
	left: 0px;
	top: 5547px;
}

#Rectangle_19 {
	opacity: 0.5;
	fill: rgba(44, 44, 44, 1);
}

.Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 394px;
	height: 353px;
	left: 776px;
	top: 5060px;
}

#Rectangle_20 {
	opacity: 0.5;
	fill: rgba(44, 44, 44, 1);
}

.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 394px;
	height: 353px;
	left: 1168px;
	top: 5060px;
}

#Android_Developer {
	left: 1212px;
	top: 5140px;
	position: absolute;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255, 255, 255, 1);
}

#Growdevnet {
	left: 1212px;
	top: 5179px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255, 255, 255, 1);
}

#IDCamp {
	left: 825px;
	top: 5179px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(255, 255, 255, 1);
}

#IDN_Boarding_School {
	left: 433px;
	top: 5179px;
	position: absolute;
	overflow: visible;
	width: 208px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(0, 0, 0, 1);
}

#Jun_-_2020 {
	opacity: 0.7;
	left: 433px;
	top: 5106px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(0, 0, 0, 1);
}

#Jan_-_2020 {
	opacity: 0.7;
	left: 825px;
	top: 5106px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255, 255, 255, 1);
}

#Jun_-_2019 {
	opacity: 0.7;
	left: 1212px;
	top: 5106px;
	position: absolute;
	overflow: visible;
	width: 78px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255, 255, 255, 1);
}

#iOS_Developer {
	left: 825px;
	top: 5140px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(255, 255, 255, 1);
}

#IT_Fasilitator {
	left: 433px;
	top: 5140px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(0, 0, 0, 1);
}

#Have_any_project_in_mind {
	opacity: 0.9;
	left: 651px;
	top: 5627px;
	position: absolute;
	overflow: visible;
	width: 619px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255, 255, 255, 1);
}

#Rectangle_22 {
	fill: rgba(255, 255, 255, 1);
}

.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 183px;
	height: 5px;
	left: 869px;
	top: 5703px;
}

#Rectangle_23 {
	fill: rgba(255, 255, 255, 1);
}

.Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 167px;
	height: 59px;
	left: 877px;
	top: 5759px;
}

#HIRE_ME_ch {
	opacity: 0.6;
	left: 918px;
	top: 5777px;
	position: absolute;
	overflow: visible;
	width: 86px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0, 0, 0, 1);
}

#Group_1 {
	position: absolute;
	width: 1313px;
	height: 106px;
	left: 304px;
	top: 6070px;
	overflow: visible;
}

#Vector {
	position: absolute;
	width: 100px;
	height: 101px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Vector_ck {
	position: absolute;
	width: 100px;
	height: 101px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Group_72 {
	position: absolute;
	width: 100px;
	height: 101px;
	left: 135px;
	top: 0px;
	overflow: visible;
}

#Group_72_cm {
	position: absolute;
	width: 100px;
	height: 101px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Group {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 269px;
	top: 6px;
	overflow: visible;
}

#Group_co {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Group_73 {
	position: absolute;
	width: 101px;
	height: 100px;
	left: 538px;
	top: 6px;
	overflow: visible;
}

#Group_73_cq {
	position: absolute;
	width: 101px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Group_74 {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 404px;
	top: 6px;
	overflow: visible;
}

#Group_74_cs {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Vector_1 {
	position: absolute;
	width: 100px;
	height: 79px;
	left: 673px;
	top: 17px;
	overflow: visible;
}

#Vector_1_cu {
	position: absolute;
	width: 100px;
	height: 79px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Vector_2 {
	position: absolute;
	width: 101px;
	height: 96px;
	left: 807px;
	top: 10px;
	overflow: visible;
}

#Vector_2_cw {
	position: absolute;
	width: 101px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Vector_3 {
	position: absolute;
	width: 113.134px;
	height: 80.325px;
	left: 941.815px;
	top: 17.571px;
	overflow: visible;
}

#Vector_3_cy {
	position: absolute;
	width: 113.134px;
	height: 80.325px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Group_1_cz {
	position: absolute;
	width: 94.771px;
	height: 95.386px;
	left: 1088.911px;
	top: 8.033px;
	overflow: visible;
}

#Group_1_c {
	position: absolute;
	width: 94.771px;
	height: 95.386px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Group_71 {
	position: absolute;
	width: 96px;
	height: 95px;
	left: 1217px;
	top: 9px;
	overflow: visible;
}

#Group_71_c {
	position: absolute;
	width: 96px;
	height: 95px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Group_3 {
	position: absolute;
	width: 1920px;
	height: 153px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Rectangle_28 {
	fill: rgba(0, 0, 0, 1);
}

.Rectangle_28 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 153px;
	left: 0px;
	top: 0px;
}

#Mufti_Ramdhani_ {
	left: 75px;
	top: 58px;
	position: absolute;
	overflow: visible;
	width: 258px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255, 197, 101, 1);
}

#Group_2 {
	position: absolute;
	width: 831px;
	height: 35px;
	left: 960px;
	top: 62px;
	overflow: visible;
}

#Home {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
}

#About {
	left: 180px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
}

#Service_c {
	left: 361px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
}

#Work {
	left: 567px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
}

#Service_db {
	left: 732px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
}